.navigation {
  height: auto;
  width: 100vw;
  // border-bottom: 5px solid #60b0f4;
}

.navigation-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.navigation-button {
  margin: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 40px;
}

.navigation-button:hover {
  color: #60b0f4;
  cursor: pointer;
}

.dark-hover > i:hover {
  color: #60b0f4;
}

.navigation-link {
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, #60b0f4 50%, #5097d4 50%);
  -webkit-transition: background-position 0.3s;
  -moz-transition: background-position 0.3s;
  transition: background-position 0.3s;
}

.navigation-link:hover {
  background-position: 0 -100%;
}

.navigation-link:hover:before {
  transform: translate3d(50%, 50%, 0) scale3d(15, 15, 15);
}
