@import "tailwindcss";

:root {
  --background: #111111;
  --foreground: #ededed;
  --card: #111111;
  --card-foreground: #ededed;
  --muted: #1c1c1c;
  --muted-foreground: #a1a1a1;
  --border: #3a3a3a;
  --chart-1: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-chart-1: var(--chart-1);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
