.footer-link {
  background-color: #60b0f4;
  color: black;
  margin: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  border: black solid 1px;
  float: left;
  white-space: nowrap;
}
.footer-link:hover {
  background-color: #389bf1;
  color: black;
}
