@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Lexend", sans-serif;
  font-size: 16px;
}

p {
  line-height: 28px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #60b0f4;
}

.octo:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner-svg {
  width: 80px;
  height: 80px;
  fill: none;
  color: #60b0f4;
  position: relative;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner-svg-path {
  transform-origin: 130px 106px;
}

@media screen and (max-width: 640px) {
  .github-corner-svg {
    width: 60px;
    height: 60px;
  }
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
